<li>
	{{burger}}
	<button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
		{{#if devoured}}DEVOUR TIME!{{else}}Not feeling so well?!{{/if}}
	</button>
	<Button class="btnDelete" type="submit" data-it="{{this.id}}">Delete</Button>
</li>